* {
  margin: 0;
}

html,
body {
  --black10: hsl(240, 2%, 9%);
  --grey: hsl(240, 9%, 89%);
  --purple: hsl(268, 78%, 57%);

  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: center;
  background: rgba(32, 32, 36, 1);
}

main,
.container {
  display: grid;
  place-items: center;
}

main {
  background: url(images/backgroundmobile.png) no-repeat;
  background-size: cover;
  width: 375px;
  height: 812px;
  box-shadow: inset 0 0 1em #ff9100f1, 0 0 1em #f700ff;
  border-radius: 0.25rem;
}

.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  color: var(--grey);
}

.avatar {
  position: relative;
  margin: 3rem 0 1.5rem 0;
}

.avatar span img {
  position: absolute;
  top: -13px;
  z-index: 1;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
  font-size: 1.5rem;
  margin-top: 0.15rem;
}

a {
  color: var(--grey);
  text-decoration: none;
  margin-top: 0.05rem;
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
}

a:hover {
  color: var(--purple);
}

p {
  margin-top: 0.75rem;
  margin-bottom: 2.5rem;
}

ul {
  margin-top: 0.05rem;
  margin-bottom: 2rem;

  list-style: none;
  padding: 0;

  display: flex;
  gap: 0.5rem;

  justify-content: center;
}

.iconsSocialMedia1 {
  position: relative;
  top: 0;
  padding: 4px;
  background-color: rgb(236, 138, 73);
  transition: all 0.2s ease-in-out;
  border-radius: 0.25rem;
}

.iconsSocialMedia1:hover {
  top: -4px;
  box-shadow: 0 4px 3px rgb(247, 75, 195);
}

.iconsSocialMedia2 {
  position: relative;
  top: 0;
  padding: 4px;
  background-color: rgb(247, 75, 195);
  transition: all 0.2s ease-in-out;
  border-radius: 0.25rem;
}

.iconsSocialMedia2:hover {
  top: -4px;
  box-shadow: 0 4px 3px rgb(236, 138, 73);
}

.iconSocialMedia3 {
  position: relative;
  top: 0;
  padding: 4px;
  background-color: rgb(34, 34, 34);
  transition: all 0.2s ease-in-out;
}

.iconSocialMedia3:hover {
  top: -4px;
  box-shadow: 0 4px 3px rgb(120, 20, 202);
}

.avatarSeal {
  animation: rotation 15s infinite linear;
}

.avatar {
  box-shadow: inset 0 0 1em #ff9100f1, 0 0 1em #f700ff;
  border-radius: 0.25rem;
}

/* Media Queries  */

@media only screen and (min-width: 480px) and (max-width: 2652px) {
  main {
    box-shadow: inset 0 0 1em #ff9100f1, 0 0 1em #f700ff;
    border-radius: 0.25rem;
  }
}

@media only screen and (min-width: 480px) and (max-width: 2652px) {
  .container:before {
    box-shadow: inset 0 0 1em #ff9100f1, 0 0 1em #f700ff;
    border-radius: 0.25rem;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 376px) and (max-widht: 480px) {
  main {
    max-width: 480px;
    background-size: cover;
  }
}

@media only screen and (min-width: 481px) and (max-width: 2652px) {
  body {
    background: url(images/full-background.png) no-repeat center;
    background-size: cover;
    background-color: #080706f3;
  }

  .container:before,
  .avatar:before {
    content: '';
    position: absolute;
  }

  .container:before {
    top: -28.7rem;
    width: 4rem;
    height: 30rem;
    z-index: 2;
    background: linear-gradient(161.24deg, #ff008e -15.25%, #ffcd1e 118.89%);
  }

  main {
    width: 358px;
    height: 540px;
    background: url(images/badge-background.png) no-repeat;
    position: relative;
    background-color: rgb(34, 33, 33);
  }

  p {
    margin-bottom: 2.5rem;
  }

  .avatar:before {
    display: block;
    right: 40px;
    top: -23.5px;
    width: 5rem;
    height: 0.5rem;
    background: var(--black10);
    z-index: 1;
  }
  .avatar {
    margin-top: 2.5rem;
  }
}
